* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #03152e;
  color: white;
}

main {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.divAltura, .divPeso, .divCalc {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #6f00ff;
  color: white;
}

@media (max-width: 500px) {
  body, input, button {
    font-size: 15px;
  }
}